.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name masa
      .top-items__icons
        .top-items__icons-a 
        = link_to "#" do 
          
          =icon('far', 'edit',class: 'top-items__icons-a')
        .top-items__icons-b
        = link_to "#" do 
        
          =icon('fas', 'cog', class: 'top-items__icons-b')
          
        
         
  .groups
    = link_to "#", class: "group" do
      .group__group-name
        test
      .group__latest-message
        まだメッセージはありません 