.chat-main {
  box-sizing: border-box;
  background-color: #ffffff;
  height: 100%;
  width: calc( 100vw - 300px );
  float: right;
   .main-header{
    height: 100px;
    padding: 0 40px;
    background-color: white;
    display: flex;
     .left-box{
       margin-top: 35px;
       .group{
         font-size: 20px;
         color: #333333; 
       }
       .main-header__left-box__member-list{
         color: #999999;
         font-size: 12px;
         display: flex;
         margin-block-start: 1em;
         margin-block-end: 1em;
       }
       .group_users{
         color: #999999;
         font-size: 12px;
         justify-content: flex-start;
         padding-inline-start: 10px;
       }
     }
    .edit-btn{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: 1px solid  #38AEF0;
      color: #38AEF0;
      position: absolute;
      right: 40px;
      cursor: pointer;
      a{
        color:#38AEF0;
        font-size: 16px;
        text-decoration: none;  
      }
    }
   }
         
     
   .messages{
    background-color: #fafafa;
    height:  calc(100vh - 190px );
    padding: 40px 40px;
    overflow: scroll;
    .message{
      padding-bottom: 5px;
     
      .upper-message{
        // margin-top:30px;
        display: flex;
        &__user-name{
          color: #434a54;
          font-size: 16px;
          display: block;
          margin-right: 5px;
          // justify-content: flex-start;
        }
        &__date{
          color:#999999;
          font-size: 12px;
          display: block;
          // justify-content: flex-start;
      
        }
      }
      .lower-message{
        color: #434a54;
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 40px;
      }
    } 
      
      

   }
   
  .form{
    height: 90px;
    width: calc( 100vw - 300px );
    background-color: #dddddd;
    padding:  20px 40px;
    display: flex;
    position: fixed;
    .new_message {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .input-box{
      display: flex;
      height: 50px;
      width: 95%;
      margin-left: 0;
      position: relative;
      #message_content {
        width: 100%;
      }
      .new_message__image{
        font-size: 1.3rem;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
      }
      .hidden{
      display: none;
    }
    }
    .submit_btn{
      background-color: #38AEF0;
      height: 50px;
      width:100px;
      margin: 0 10px;
      color: white;
      cursor: pointer;
    }
  } 
}