* {
  box-sizing: border-box;
}
.side-bar {
  background-color: #2f3e51;
  width: 300px;
  height: 100vh ;
  float: left;
  &__user-name{
    background-color:#253141;
    height: 100px;
    width: 300px;
    position:relative;

     .top-items{
       background-color:#253141;
       height: 20px;
       width: 260px;
       margin: 0 auto;
       position: absolute;
       top: 40px;
       left: 6%;
       display: flex;
       .top-items_name{
        font-size: 16px;
        color: white;
       
       }
       .top-items_icons{
         margin-left: 170px;
         justify-content: flex-end;
         .icon1{
          color: white;
         }
         .icon2{
          color: white;
          margin-left: 5px;
         
          
         } 
      }
    } 
     }  
  }

  .groups{
    background-color: #2f3e51;
    height: calc(100vh-100px);
    padding: 20px;
    color: white;
    .group{
      color: white;
      text-decoration: none;
      margin-bottom: 40px;
      &__name{
        color: white;
        text-decoration: none;
      }
      &__message{
        color: white;
        text-decoration: none;
      }
    }
  }